<hlm-dialog [state]="dialogState" (closed)="onDialogClose()">
    <hlm-dialog-content
        class="rounded-lg !w-[600px] max-w-[90vw]"
        *brnDialogContent="let ctx"
    >
        <hlm-dialog-header>
            <h3 hlmDialogTitle>New Note</h3>
            <p hlmDialogDescription>Create and store a new note</p>
        </hlm-dialog-header>
        <form
            #noteForm="ngForm"
            class="flex flex-col items-end py-2"
            (ngSubmit)="onSubmit(noteForm)"
        >
            <label hlmLabel class="w-full">
                Title
                <input
                    class="mt-1.5 w-full"
                    placeholder="Buy groceries"
                    hlmInput
                    autocomplete="off"
                    name="title"
                    [(ngModel)]="note.title"
                />
            </label>

            <label hlmLabel class="w-full mt-4">
                Content
                <textarea
                    class="mt-1.5 h-fit w-full"
                    placeholder="2x eggs, 1x milk,..."
                    hlmInput
                    autocomplete="off"
                    name="content"
                    [(ngModel)]="note.content"
                    rows="4"
                ></textarea>
            </label>

            <button hlmBtn type="submit">Save changes</button>
        </form>
        <hlm-dialog-footer> </hlm-dialog-footer>
    </hlm-dialog-content>
</hlm-dialog>
