<spartan-dialog-new-note
    [userId]="userId"
    (noteCreatedSuccessfully)="onNoteCreated()"
>
</spartan-dialog-new-note>

<spartan-dialog-delete-note
    (noteDeleted)="onDeleteNote()"
></spartan-dialog-delete-note>

<spartan-dialog-modify-note
    (noteModifiedSuccessfully)="onNoteModified()"
></spartan-dialog-modify-note>

<app-navbar
    [userEmail]="userEmail"
    [userFirstName]="userFirstName"
    [userLastName]="userLastName"
    (addNote)="openAddNewNoteModal()"
></app-navbar>

<button
    hlmBtn
    size="icon"
    class="block sm:hidden rounded-full fixed bottom-4 right-4 z-50"
    (click)="openAddNewNoteModal()"
>
    <ng-icon hlm size="sm" name="lucidePlus" />
</button>

<div class="container mx-auto mt-4">
    @if (isLoading) {
    <div
        class="grid grid-cols-1 gap-3 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3"
    >
        <spartan-note-skeleton></spartan-note-skeleton>
        <spartan-note-skeleton></spartan-note-skeleton>
        <spartan-note-skeleton></spartan-note-skeleton>
        <spartan-note-skeleton></spartan-note-skeleton>
        <spartan-note-skeleton></spartan-note-skeleton>
        <spartan-note-skeleton></spartan-note-skeleton>
    </div>
    } @else {
    <app-notes-list
        [notes]="notes"
        (openNoteDeletionDialog)="onOpenNoteDeletionDialog($event)"
        (openNoteModificationDialog)="onOpenNoteModificationDialog($event)"
    ></app-notes-list>
    }
</div>

<hlm-toaster />
